.InputField {
  margin-bottom: 1.5em;
}

.InputField-componentBox {
  margin-bottom: 0.5em;
}

.InputField-label,
.InputField-input {
  width: 100%;
}

.InputField-input {
  padding: 0.5em;
  background-color: #fafafa;
  border: 1px solid #e0e0e0;
  min-height: 2.5rem;
  border-radius: 0;
  text-shadow: none;
  outline: none;
}
