.ButtonsGroup {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  bottom: 1em;
  left: 0;
  text-align: center;
  width: 100%;
}

.ButtonsGroup.is-fixedDown {
  position: relative;
}

.ButtonsGroup.is-fixedDown > .Button,
.ButtonsGroup.is-fixedDown > .ButtonLink {
  margin: 0;
}

.is-halfSize:nth-last-child(1) {
  margin-left: 0;
  margin-right: 1em;
}
