.InlineSelectionRow {
  margin-bottom: 1.5em;
}

.InlineSelectionRow-componentBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5em;
}

.InlineSelectionRow-componentBox.is-halfSize {
  width: 50%;
}

.InlineSelectionRow-componentBox.no-gutter > .InlineSelectionRow-button {
  margin-right: 0;
}

.InlineSelectionRow-button {
  flex-grow: 1;
  background: none;
  background-color: #fafafa;
  color: #616161;
  border: 1px solid #616161;
  padding: 0.5em 0.75em;
  margin-right: 1em;
  outline: none;
  text-transform: capitalize;
}

.InlineSelectionRow-button:nth-last-child(1) {
  margin-right: 0;
}

.InlineSelectionRow-button.is-active {
  background-color: #bdbdbd;
}
