.Button {
  flex-grow: 1;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid;
  margin: 0 1em;
}

.Button--primary {
  color: #f5f5f5;
  border-color: #616161;
  background-color: #616161;
}

.Button--secondary {
  color: #616161;
  border-color: #757575;
  background-color: #fafafa;
}
