.Button {
  display: inline-block;
  border: none;
  width: 100%;
  padding: 1em;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid;
}

.Button.is-halfSize {
  width: 45%;
}

.is-halfSize + .is-halfSize {
  margin-left: 1em;
}

.Button--primary {
  color: #f5f5f5;
  border-color: #616161;
  background-color: #616161;
}

.Button--secondary {
  color: #616161;
  border-color: #757575;
  background-color: #fafafa;
}
